/* Universal Styles */

html {
  font-size: 18px;
  background-color: #cca353;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: "Work Sans", sans-serif;
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

/* Loading and Error Styles */

div.loading,
div.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

div.loading p,
div.error p {
  font-size: 1rem;
  padding: 0.66rem 1rem;
  border-radius: 8px;
}

div.loading p {
  background-color: #fff;
}

div.error p {
  color: white;
  background-color: firebrick;
}
